.Phonetic {
  margin-bottom: 20px 0;
}

.Phonetic a {
  border: 1px solid #ddd;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
  transition: all 150ms ease-in-out;
  margin-right: 10px;
}

.Phonetic a:hover {
  background: #da627d;
  color: white;
}

.Phonetic .text {
  opacity: 0.5;
  font-weight: bold;
}

.Phonetic button {
  padding: 0;
  border: none;
  margin-right: 6px;
  background: none;
  color: #da627d;
  transition: all 150ms ease-in-out;
}

.Phonetic button:hover {
  color: #d3395a;
}
