.Searchengine h1 {
  font-size: 30 px;
  font-weight: bold;
  margin-bottom: 10px;
}

.Searchengine section {
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
  margin: 20px 0;
}

.Searchengine input {
  width: 100%;
  border-radius: 6px;
  padding: 6px, 10px;
  border: 1px solid #ddd;
}

.Searchengine .hint {
  font-size: 11px;
  margin-top: 5px;
}
